body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 30px;
}
p{
    color: rgb(8px2, 78px, 78px);
}
.new-color{
    color: #6E46DB;
}
.half-width{
    width: 53%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.first-width{
    width: 40%;
    float: left;
    margin-left: 3%;
    padding-left: 2%;
}
.second-width{
    float: left;
    width: 45%;
    margin-right: 5%;
}
.dressing{
    width: 30%;
    float: left;
    margin: 7%;
    padding: 25px;
    box-shadow: 8px 8px 30px rgb(165, 162, 162);
    border-radius: 5px;
    height: 80%;
    background-color: white;
}
.top-banner{
    height: 500px;
    width: 100%;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.big-dream{
    height: 550px;
    width: 100%;
    background-image: url("images/babu-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(80deg, #6E46DB, #3a0517);
    padding: 5px 8px;
    border-radius: 5px;
    color: white;
}
.experience-area{
    height: 330px;
    width: 100%;
    background-image: url("images/bg-babu.png");
    background-repeat: no-repeat;
    background-position: left;
}
#border{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #6E46DB, #3a0517);
    border-image-slice: 1;
}
#full{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, rgb(243, 63, 8));
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 10px;
}